/* Button styles */
.magic-button {
    background-color: #FFEB83;
    color: #14213D;
    padding: 10px 20px;
    border: 1px solid #14213D;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-left: auto;
    height: 50px;
    width: 200px;
}

.magic-button:hover {
    background-color: #D7FCD0;
}

.magic-button:active {
    background-color: #14213D;
    color: #FAFAFA;
}

.magic-button .arrow-icon {
    margin-left: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%2314213D" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 21l-1.41-1.41L17.17 13H3v-2h14.17l-6.58-6.59L12 3l9 9z"/></svg>');
    background-size: cover;
    background-repeat: no-repeat;
}

.magic-button:active .arrow-icon {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23FAFAFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 21l-1.41-1.41L17.17 13H3v-2h14.17l-6.58-6.59L12 3l9 9z"/></svg>');
}

