.legend-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.legend-color {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
}

.legend-label {
    font-size: 14px;
    color: #14213D;
    font-weight: bold;
}
