body {
    font-family: 'Lato', sans-serif;
    background-color: #0C1C32;
    color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.header-container {
    background-color: #0C1C32;
    width: 100%;
    max-width: 1400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 20px;
}

.summary-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 25px 0 25px 0;
}

.summary-field {
    display: flex;
    flex-direction: column;
    width: 48%;
}
.summary-field label {
    font-weight: bold;
    color: #14213D;
    margin-bottom: 20px; /* Add space below the label */
}

.logo-container {
    display: flex;
    align-items: center;
}

.header-container h1 {
    color: #E5E5E5;
    margin: 0;
    font-size: 24px;
}

.header-container img {
    width: 120px;
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #CBD5E0; /* Match the design's line color */
    margin: 0 0 10px 0;
}

#container {
    text-align: left;
    background-color: #FFFFFF;
    color: #14213D;
    padding: 30px 80px 0px 80px;
    border: 1px solid #7D8391;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow-y: auto
}

.combined-container {
    background-color: #FFFFFF;
    padding: 30px 0 25px 0px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #14213D;
    margin-bottom: 20px;
}

.summary-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.summary-field label {
    font-weight: bold;
    color: #14213D;
}

.summary-value {
    background-color: #E5E5E5;
    border: 1px solid #D3D3D3;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
    color: #7D8391;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    pointer-events: none;
    box-sizing: border-box;
}

.legend-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
    margin-left: 150px;
    margin-top: 30px;
}

.log-analysis-container {
    display: flex;
    justify-content: space-between;
}

.log-table {
    max-height: 400px; /* Set max-height to allow scrolling */
    overflow-y: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    border: 1px solid #E5E5E5;
}

.log-table table {
    width: 100%;
    border-collapse: collapse;
}

.log-table th, .log-table td {
    border: 1px solid #D3D3D3;
    padding: 10px;
    text-align: left;
}

.log-table th {
    background-color: #E5E5E5;
    color: #14213D;
}

.log-table tbody tr {
    background-color: #FAFAFA;
}

.log-table tbody tr:hover {
    background-color: #F0f0f0;
}

.log-table th:nth-child(1),
.log-table td:nth-child(1) {
    width: 250px; /* Fit the content of Timestamp */
    white-space: nowrap;
}

.log-table th:nth-child(2),
.log-table td:nth-child(2) {
    width: 100px; /* Fit the content of Log Level */
    text-align: left;
    white-space: nowrap;
}

.log-table th:nth-child(3),
.log-table td:nth-child(3) {
    width: auto; /* Take remaining space for Message */
}

.draggable {
    -webkit-app-region: drag; /* Make the header draggable */
}

.no-drag {
    -webkit-app-region: no-drag; /* Make the button non-draggable */
}